.flavor-means-business {
    .left {
        iframe {
            width: 95%;
            height: 440px;
        }

        img { 
            float: right;
            margin: 0 0 15px 15px;
        }
    }
}
