@charset "utf-8";
/* CSS Document */

<!--
Custom CSS -------------
-->
 .content-modified p {
 font-family:"Sorts Mill Goudy", georgia, serif;
}
.floatleft {
	float: left;
}
.floatright {
	float: right;
}
.auto {
	width: auto;
}
.desktop-only img {
	max-width: 100%;
}
/* Contest Pieces 
********************************************************************/
.contest-pieces {
	background-image: url("../img/blurred-kitchen.jpg");
}

.row1, .row2, .row3, .row4, .row5 {
    display: table;
    margin-left: auto;
    margin-right: auto;
}
.contestant.row5 {
    margin-bottom: 0 !important;
    margin-left: 105px !important;
    margin-right: 0 !important;
    margin-top: 0 !important;
}
.contest-pieces {
	background-image: url("../img/blurred-kitchen.jpg");
	min-height: 1160px;
	padding: 20px;
}
#french-onion, #vegetable-bisque, #chicken-noodle, #chowder, #clam-chowder, #minestrone, #vegetable-soup, #seafood-bisque, #tortilla-soup, #potato-soup {
	float: left;
	margin-right: 25px;
	position: relative;
	width: 500px;
	height: 193px;
	margin: 7px;
}
#contestant-french-onion, #contestant-vegetable-bisque, #contestant-chicken-noodle, #contestant-chowder, #contestant-clam-chowder, #contestant-vegetable-soup, #contestant-seafood-bisque, #contestant-tortilla-soup, #contestant-potato-soup {
	float: left;
	margin-right: 25px;
	position: relative;
	width: 500px;
	height: 193px;
	margin: 7px;
}
.enter-now {
	position: absolute;
	bottom: 20px;
	right: 32px;
}
.enter-now:hover {
	opacity: .7;
}

#enter:hover ~ #overlay {
    display: none;
}

.download-recipe {
	left: 100px;
	opacity: 0.9;
	position: absolute;
	top: 70px;
}
#overlay img{
	background: none;
	opacity: 0;
	-webkit-transition: opacity .25s ease;
	width: 100px;
}

#chicken-noodle {
	background-image: url("../img/chicken-noodle-d.png");
}
#chicken-noodle:hover #overlay img{
	width:150px;
	opacity: 1;
}
#contestant-chicken-noodle {
    background-image: url("../img/contestant/chickennoodle.png");
}
#chowder:hover #overlay img {
	opacity: 1;
	width:150px;
}
#chowder {
	background-image: url("../img/chowder-d.png");
}
#contestant-chowder {
    background-image: url("../img/contestant/noclam-chowder.png");
}
#clam-chowder:hover #overlay img{
	opacity: 1;
	width:150px;
}

#clam-chowder {
	background-image: url("../img/clam-chowder-d.png");
}
#contestant-clam-chowder {
    background-image: url("../img/contestant/clamchowder.png");
}
#french-onion:hover #overlay img {
	opacity: 1;
	width:150px;
}
#french-onion {
	background-image: url("../img/french-onion-d.png");
}
#contestant-french-onion {
    background-image: url("../img/contestant/frenchonion.png");
}
#minestrone:hover #overlay img{
	opacity: 1;
	width:150px;
}
#minestrone {
	background-image: url("../img/minestrone-d.png");
}
#potato-soup:hover #overlay img{
	opacity: 1;
	width:150px;
}
#potato-soup {
	background-image: url("../img/potato-soup-d.png");
}
#contestant-potato-soup {
    background-image: url("../img/contestant/potatosoup.png");
}
#seafood-bisque:hover #overlay img {
	opacity: 1;
	width:150px;
}
#seafood-bisque {
	background-image: url("../img/seafood-bisque-d.png");
}
#contestant-seafood-bisque {
    background-image: url("../img/contestant/seafoodbisque.png");
}
#tortilla-soup:hover #overlay img{
	opacity: 1;
	width:150px;
}
#tortilla-soup {
	background-image: url("../img/tortilla-soup-d.png");
}
#contestant-tortilla-soup {
    background-image: url("../img/contestant/tortillasoup.png");
}
#vegetable-bisque:hover #overlay img{
	opacity: 1;
	width:150px;
}
#vegetable-bisque {
	background-image: url("../img/vegetable-bisque-d.png");
}
#contestant-vegetable-bisque {
    background-image: url("../img/contestant/vegetablebisque.png");
}
#vegetable-soup:hover #overlay img{
	opacity: 1;
	width:150px;
}
#vegetable-soup {
	background-image: url("../img/vegetable-soup-d.png");
}
#contestant-vegetable-soup {
    background-image: url("../img/contestant/vegetablesoup.png");
    margin-bottom: 140px;
}
.download-button {
	border:1px solid #000;
	border-radius: 4px;
    bottom: 10px;
    height: 22px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    position: absolute;
    right: 20px;
    transition: all .1s ease-in-out;
}
.download-button:hover {
	border:1px solid #AE1105;
    transition: all .1s ease-in-out;
}
.download-button > p {
    font-size: 16px;
    font-weight: 500;
    height: 30px;
    margin-bottom: 0 !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    margin-top: 0 !important;
    padding-bottom: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-top: 0 !important;
    transition: all .1s ease-in-out;
    font-family: "Sorts Mill Goudy",georgia,serif;
}
.download-button:hover > p {
	color:#AE1105;
    transition: all .1s ease-in-out;
}

/* End Contest Pieces
**********************************************************************/
.bocuse-contact {
	padding: 0 100px;
}
.thebattle {
	max-width: 1080px;
	margin: 0 auto;
}
.thebattle h1{margin:5px 0;}
.textcenter {
	text-align: center;
}
.bocuse-right {
	width: 210px;
	color: #555555;
	font-family: 'myriad pro';
	margin-left: 20px;
}
.bocuse-right p {
	font-size: 40px;
	line-height: 1.3;
	font-family: 'Sorts Mill Goudy', georgia, serif;
	font-style: italic;
	color: #b32317;
}
.bocuse-right ul {
	font-size: 18px;
	padding: 0;
	margin: 0;
	font-family: 'sorts mill goudy';
}
.bocuse-right ul li {
	list-style: none;
	text-decoration: underline;
	line-height: 3;
}
.bocuse-right ul a:hover {
	color: #B32317;
}
.bocuse-right .enternow p {
	color: #555555;
	font-size: 17px;
	margin: 0;
	border: 1px solid #555555;
	border-radius: 3px;
	margin: 40px 0 20px 0;
	padding: 10px;
	text-align: center;
	width: 105px;
}
.bocuse-right .enternow p:hover {
	color: #B32330;
	border: 1px solid #B32330;
}
.challengerprofile {
	background-color: #fbfaf8;
	min-height: 335px;
	padding: 20px 115px 20px 70px;
	font-family: 'Helvetica';
}
.challengerprofile img {
	margin: 0 30px;
}
.challengerprofile h2 {
	text-transform: none;
	color: #636363;
}
.challengerprofile p {
	color: #636363;
	font-weight: bold;
	line-height: 1.2;
}
.challengerprofile a p {
	color: #AF2018;
	text-decoration: underline;
}
.letsbattle {
	color: white;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
}
.souprecipe {
	color: #8e8e8f;
	font-size: 17px;
	font-weight: normal;
	letter-spacing: 1px;
	margin: 30px 0;
}
.tabrules {
	background-color: #E6E4E5;
	min-height: 0;
	height:100%;
	padding: 40px 100px;
}
.tabrules h2 {
	color: #b22425;
	font-family: 'Helvetica';
	font-size: 22px;
	font-weight: normal;
	margin: 5px 0;
	text-transform: none;
}
.tabrules p {
	font-family: 'Helvetica';
	color: #8a8788;
	font-size: 16px;
	margin-bottom: 10px;
}
.howtoenter {
	height: 240px;
	margin-top: 20px;
}
.howtoenter img {
	margin-right: 50px;
}
.voting {
	height: 240px;
}
.voting img {
	margin-right: 50px;
}
.prizes {
	height: 240px;
}
.prizes img {
	margin-right: 50px;
}
.grandprize {
	height: 150px;
}
.grandprize img {
	margin-right: 50px;
}
.battle-for-bocuse {
	padding: 0 100px;
}
/* Content Modified
************************************************/
.content-modified {
	margin: 0 auto;
	padding: 30px 0;
	z-index: 100;
	max-width: 1280px;
}
.content-modified:after {
	content: " ";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
.content-modified > .left {
	border-right: 1px solid #e5e5e5;
	float: left;
	padding-bottom: 30px;
	width: 72.12963%;
}
.content-modified > .left > * {
	width: 96.5%;
}
.content-modified > .left > img {
	display: block;
	width: 100%;
}
.content-modified .contact {
	border-top: 1px solid #e5e5e5;
	clear: both;
	overflow: hidden;
	padding: 30px 0;
	position: relative;
}
.content-modified .contact h2 {
	color: #888;
	font: normal 26px/1.4 trajan-pro-3, "Sorts Mill Goudy", georgia, serif;
	margin: 0 0 30px 0;
	letter-spacing: 2px;
	text-transform: uppercase;
}
.content-modified .contact .left {
	float: left;
	width: 50%;
}
.content-modified .contact h3 {
	color: #777;
	font: italic 22px/1.5 "Sorts Mill Goudy", georgia, serif;
	margin: 5px 0 0 0;
}
.content-modified .contact img {
	bottom: 30px;
	display: block;
	position: absolute;
	right: 0px;
	width: 48%;
}
.content-modified .contact dl {
	background: #fbfaf8;
	margin: 0;
	overflow: hidden;
	padding: 20px 0;
	width: 100%;
}
.content-modified .contact dl dt,  .content-modified .contact dl dd {
	line-height: 33px;
	margin: 0 0 10px 0;
}
.content-modified .contact dl dt {
	clear: left;
	color: #888;
	font: italic 22px/33px "Sorts Mill Goudy", georgia, serif;
	float: left;
	text-align: center;
	width: 30%;
}
.content-modified .contact dl dd {
	color: #b32017;
	float: left;
	font-size: 16px;
	font-weight: bold;
	text-decoration: underline;
	width: 70%;
}
.content-modified .contact dl dd a {
	color: #b32017;
}
/* Mobile Css ***************************************/

.mobile-only ul li {
	list-style: none;
	padding: 10px 0 10px 10px;
	border-top: 1px solid #e5e5e5;
}
.mobile-only ul {
	margin: 0;
	padding: 0;
}
.mobile-only img {
	max-width: 100%;
}
.mobile-trip p {
	color: #b22116;
	font: italic bold 22px "Sorts Mill Goudy", georgia, serif;
	margin: 20px 0;
	text-align: center;
}
.mobile-trip .mobile-entries {
	color: #757575;
	font: bold 15px "Sorts Mill Goudy", georgia, serif;
	text-align: center;
}
.mobile-battleforbocuse img {
	margin-left: auto;
	margin-right: auto;
	display: block;
}
.mobile-battleforbocuse h1 {
	text-align: center;
}



@media all and (max-width: 1150px) and (min-width: 1024px) 
{
	.challengerprofile {
    background-color: #fbfaf8;
    font-family: 'Helvetica';
    min-height: 0;
    padding: 20px 70px 20px 5px;
	height:100%;
}
}
@media all and (max-width: 1230px) and (min-width: 1024px) {

.letsbattle {
	color: white;
	font-size: 20px;
	font-weight: bold;
	padding-top: 10px;
	text-align: center;
}
.battle-for-bocuse {
	float: left;
	padding: 0 0 0 20px;
	width: 100%;
}
.therules {
	padding: 0 10px;
}
.battle-for-bocuse {
	float: left;
	padding: 0 0 0 20px;
	width: 100%;
}
.challengerprofile img {
	margin: 0 30px;
}

.row1, .row2, .row3, .row4, .row5 {
    display: table;
    margin-left: auto;
    margin-right: auto;
}
.contest-pieces {
	background-image: url("../img/blurred-kitchen.jpg");
	min-height: 1160px;
	padding: 0;
}
#french-onion, #vegetable-bisque, #chicken-noodle, #chowder, #clam-chowder, #minestrone, #vegetable-soup, #seafood-bisque, #tortilla-soup, #potato-soup {
	margin: 5px;
}
.tabrules p {
	margin: 0 0 35px;
}
.tabrules img {
	margin-bottom: 10px;
}
.voting {
	padding: 0 0 23px 0;
}

}

@media all and (max-width: 1023px) {
	
.bocuse-contact {
	padding: 0 10px;
}
.battle-for-bocuse{
	padding: 0 10px;
}

h1 {
	font-size: 20px;
}
.content-modified {
	margin: 0 auto;
	padding: 30px 0;
	z-index: 100;
	max-width: 1280px;
}
h1 {
	color: #919191;
}
.thebattle img {
	height: 10px;
}
.thebattle h1 {
	margin: 0;
	padding: 0 10px;
}
.challengerprofile {
	background-color: #fbfaf8;
	font-family: 'Helvetica';
	min-height: 335px;
	padding: 5px 10px;
}
.challengerprofile img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.letsbattle {
	color: #333;
	font-family: 'Helvetica';
	font-size: 18px;
	font-weight: bolder;
	margin: 10px 0;
	padding: 0 10px;
	text-align: left;
}
.mobile-only .letsbattle {
	color: #333;
	font-family: 'Helvetica';
	font-size: 18px;
	font-weight: bolder;
	margin: 10px 0;
	padding: 0 10px;
	text-align: center;
}
.contest-pieces {
	background-image: url("../img/blurred-kitchen.jpg");
	background-repeat: repeat;
	height: 100%;
	padding: 20px;
}
.contest-pieces img {
	margin-left: auto;
	margin-right: auto;
	display: block;
	margin-top: 10px;
	height:auto;
}

.voting, .prizes, .grandprize, .howtoenter {
	height: 100%;
	margin-top: 20px;
}
.voting, .prizes, .howtoenter {
	border-bottom: 1px solid #d0d0cd;
}
.tabrules {
	background-color: #e6e4e5;
	height: 100%;
	min-height: 0;
	padding: 5px 20px;
}
.tabrules h2 {
	color: #b22425;
	font-family: 'Sorts Mill Goudy';
	font-size: 19px;
	font-weight: bold;
	margin: 5px 0;
	text-transform: none;
}
.contact img {
	margin-bottom: 30px;
}
.contact dd {
	font-size: 14px;
}
.content-modified .contact img {
	margin: 0 auto;
	position: static;
	width: 90%;
}
.content-modified .contact h2 {
	font-size: 20px;
	text-align: center;
}
.content-modified .contact h3 {
	font-size: 20px;
	text-align: center;
}
.content-modified .contact p {
	font-size: 16px;
	margin: 20px auto;
	text-align: center;
	width: 80%;
}
.content-modified .contact dl {
	padding: 10px 0;
}
.content-modified .contact dl dt {
	font-size: 18px;
	width: 25%;
}
.content-modified .contact dl dd {
	font-size: 14px;
	width: 70%;
}
.content-modified .contact .left {
	float: none;
	width: auto;
}

}
@media all and (max-width: 1024px) and (min-width: 600px) {
.tablet-only {display:block; background-color:#EBEAE6;}	
.tablet-only img {margin-left:auto; margin-right:auto; display:block;}
.hidden-tablet {display:none !important;}
}
@media all and (max-width: 599px) {
	.tablet-only{display:none;}
	.hidden-tablet{display:block;}
	.battle-for-bocuse {
	float: left;
	padding: 0 0 0 20px;
	width: 100%;
}
	}