.ajax-poll-form {
    background-color: #f0edec;
    border: 1px solid #c0c0c0;
    font-family: helvetica;
    margin: 0 auto;
    max-width: 1000px;
    padding: 20px;
    text-align: left;
    border-radius: 7px;
}
.ajax-poll-item-caption p {
    line-height: 1;
    margin: 3px 0 3px 50px;
}


.captcha-instructions {
    max-width: 700px;
    margin: 0 auto;
    padding: 20px 0px 0px;
    font-weight: bold;
}
.captcha-instructions p{
 font-size:18px;
}

	.ajax-poll-title {
		color:#404040;
		font-size:23px;
		text-align:center;
		margin-bottom:20px;
		font-weight: bold;
	}

	.ajax-poll-item {
    cursor: pointer;
    margin: 0 auto;
    max-width: 730px;
    padding: 18px 8px;
    font-weight: bold;
}

	.ajax-poll-item-mover {
		border-radius: 15px;
		-moz-border-radius: 15px;
		background-color:none;
	}

	.ajax-poll-item-sel {
		border-radius: 15px;
		-moz-border-radius: 15px;
		background-color:#fff;
	}

		.ajax-poll-item-caption {
			font-size:14px;
			margin:0;
			text-transform: uppercase;
			font-weight: bold;
		}

		.ajax-poll-item-radio {
    float: left;
    margin: 0 20px;
}

		.ajax-poll-item-stats-box {
			display:none;
			height:30px;
		}

			.ajax-poll-item-bar {
				margin:5px 0;
				padding:0;
				width:0;
				height:8px;
				line-height:0;
				font-size:1px;
				background-color:#B32317;
				border-radius: 3px;
				-moz-border-radius: 4px;
			}

			.ajax-poll-item-count {
				font-size:12px;
				margin:0 5px 0 0;
			}

			.ajax-poll-item-perc {
				font-size:12px;
				margin:0px;
			}

		.ajax-poll-item-desc-box {
    color: #b22116;
    font-size: 20px;
    height: 45px;
    margin-left: 52px;
}

.ajax-poll-vote-box {
	text-align:center;
	margin-top:20px;
	height:70px;
}

	.ajax-poll-btn-view {
	float: none;
	width: 100px;
	border: none;
	background: none;
	text-decoration: underline;
	cursor: pointer;
}

.ajax-poll-btn-vote {
    background-color: #f0edec;
    background-image: url("http://www2.flavormeansbusiness.com/battle/images/vote.png");
    border: medium none;
    cursor: pointer;
    height: 65px;
    margin: 0 20px;
    width: 210px;
    margin: 0 auto;
}

.ajax-poll-back-box {
	display:none;
	text-align:center;
	margin-top:20px;
	height:20px;
}

	.ajax-poll-btn-back {
    color: #696869;
    float: left;
    width: 100px;
}

	.ajax-poll-total-box {
		float:right;
		font-family:arial;
		font-size:15px;
		padding:5px 0 0 0;
	}

		.ajax-poll-total-caption {
			color:#808080;
		}

		.ajax-poll-total-value {
			color:#808080;
		}

.ajax-poll-clear-both {
	clear:both;
}

.ajax-poll-btn-reset {
	margin:10px 0;
	width:200px;
}

a.recipe {
    border: 1px solid #b22116;
    border-radius: 13px;
    color: #333;
    float: left;
     margin: 2px 0 10px 50px;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
}
a.recipe:hover {
    border: 1px solid #b22116;
    border-radius: 13px;
    color: #fff;
    float: left;
    margin: 2px 0 10px 50px;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    background-color:#b22116;
}



/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width : 320px) and (max-width : 825px) {

.ajax-poll-item-desc-box {
    color: #b22116;
    font-size: 18px;
    height: 45px;
    margin-left: 52px;
    padding-bottom: 35px;
}
}
@media only screen and (max-width : 320px) {
.ajax-poll-item-desc-box {
    color: #b22116;
    font-size: 13px;
    height: 45px;
    margin-left: 52px;
    padding-bottom: 20px;
}
}

.recaptcha_container {  width: 318px; margin: 20px auto 0 auto;}

form .recaptcha_container input {
    display: inline;
}